<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>박선우와 이수지 결혼합니다!</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:url" content="http://dearhere.com">
                <meta property="og:title" content="박선우와 이수지 결혼합니다!">
                <meta property="og:type" content="website">
                <meta property="og:image" content="http://dearhere.com/images/logo/thum.JPG">
	        <link rel="shortcut icon" href="favicon.ico">
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Main CSS -->
		<link href="/css/style.css" rel="stylesheet" media="screen">
		<!-- theme color css
		<link href="css/colorname.css" rel="stylesheet" media="screen"> -->

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			  <script src="js/respond.js"></script>
		<![endif]-->
	</head>
<body>

	<!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->

	<!-- header -->
	<header id="header">
		<div class="container">
			<div class="row">
				<!-- #logo -->
				<!-- <div id="logo" class="col-lg-12 animated fadeInUp"> -->
				<div id="logo" class="col-lg-12">
					<a href="#">
						<!-- <img src="images/logo/logo.png" alt="Logo Image"> -->
						<!-- <img src="images/logo/lovelogo.png" alt="Logo Image"> -->
						<img src="images/logo/logo간격.png" alt="Logo Image">
					</a>
				</div> <!-- /#logo -->

				<button class="nav-collapser">
					<i class="fa fa-bars"></i>
				</button>

				<!-- #main_navigation -->
				<nav id="main_navigation" class="col-lg-12 main_navigation">
					<ul>
						<li class="scroll active"><a href="#slider">HOME</a></li>
						<li class="scroll"><a href="#love_story">Our story</a></li>
						<li class="scroll"><a href="#rsvp">축하메시지</a></li>
						<li class="scroll"><a href="#gallery">Gallery</a></li>
						<li class="scroll"><a href="#our_location">our location</a></li>
					</ul>
				</nav> <!-- /#main_navigation -->
			</div>
		</div>
	</header> <!-- /header -->

	<!-- #slider -->
	<section id="slider">
		<div class="overlay">
			<img src="/pics/IMG_004.jpg">
		</div>
	</section> <!-- /#slider -->



	<!-- #groom_bride -->
	<section id="groom_bride">

		<!-- .curv -->
		<div class="curv-gray">

		</div> <!-- /.curv -->


		<div class="container">

			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>Groom <b>&</b> Bride</span>
				</h1>
			</div> <!-- /.section_title_wrap -->

			<div class="row">

				<!-- .single_groom -->
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_groom col-lg-push-1 col-md-push-1 wow slideInLeft" data-animation-duration="3s" data-animation-delay="1s">
					<!-- 신랑사진 -->
					<img src="images/resources/신랑b.png" alt="Groom image">
					<div class="info-box">
						<h2>Seonwoo Park</h2>
						<span>신랑</span>
						<p>교환 학생으로 독일에 갔다가<br> 하라는 공부는 안하고 연애만 하다 왔다.<br>결과는 성공적 ♬</p>
					</div>
				</div> <!-- /.single_groom -->

				<!-- .single_bride -->
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_bride col-lg-offset-1 col-md-offset-1 wow slideInRight"  data-animation-duration="3s" data-animation-delay="2s">
					<img src="images/resources/신부.png" alt="Bride image">
					<div class="info-box">
						<h2>Suji Lee</h2>
						<span>신부</span>
						<p>독일로 유학가서<br> 열심히 공부하고 있는데<br> 옆에 뭐가 붙었다.<br>알고보니 미래의 남편♪</p>
					</div>
				</div> <!-- /.single_bride -->

			</div>
		</div>
	</section> <!-- /#groom_bride -->

	<!-- #love_story -->
	<section id="love_story">
		<div class="container">

			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>Our <b>Love</b> Story</span>
				</h1>
				<p class="section-text">수지와 선우가 결혼하기까지!</p>
			</div> <!-- /.section_title_wrap -->

			<div class="row">
				<ul>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInRight">
							<div class="details_content">
								<h2>Suji's Birth</h2>
								<p>수지 태어남 @원주</p>
								<img src="images/resources/sujiBirth.jpeg" alt="">
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							1986.03
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInRight">
							1987.02
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInLeft">
							<div class="details_content">
								<h2>Seonwoo's Birth</h2>
								<p>선우 태어남 @춘천</p>
								<img src="images/resources/sunwooBirth.jpeg" alt="">
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details  wow slideInRight">
							<div class="details_content">
								<h2>Suji Moves to Seoul</h2>
								<p>수지 대학입학 @서울</p>
								<img src="images/resources/sujiUni.jpeg" alt="">
								<!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							2005.03
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInRight">
							2006.03
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInLeft">
							<div class="details_content">
								<h2>Seonwoo Moves to Seoul</h2>
								<p>선우 대학입학 @서울</p>
								<img src="images/resources/sunwooUni.jpeg" alt="">
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details  wow slideInRight">
							<div class="details_content">
								<h2>Maybe We Met at the time…</h2>
								<p>같은 수련회 참석 @CCC</p>
								<img src="images/resources/ccc.jpeg" alt="">
								<!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							2006.06
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInRight">
							2009.03
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInLeft">
							<div class="details_content">
								<h2>Suji Moves to Germany</h2>
								<p>수지 유학시작 @독일</p>
								<img src="images/resources/sujiStart.jpeg" alt="">
							</div>
						</div>
					</li>

					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details  wow slideInRight">
							<div class="details_content">
								<h2>Seonwoo Moves to Germany</h2>
								<p>박선우 교환학생 @독일</p>
								<img src="images/resources/sunwooStart.jpeg" alt="">
								<!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							2011.08
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInRight">
							2011.09
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInLeft">
							<div class="details_content">
								<h2>The First Contact at Stuttgart</h2>
								<p>드디어 첫 만남!<br> @슈투트가르트</p>
								<img src="images/resources/firstmeet.jpeg" alt="">
							</div>
						</div>
					</li>

					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details  wow slideInRight">
							<div class="details_content">
								<h2>Beginning of Love!</h2>
								<p>연애의 시작! <br>@슈투트 국립극장</p>
								<img src="images/resources/lovestart.jpeg" alt="">
								<!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							2012.06
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInRight">
							2015.07
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInLeft">
							<div class="details_content">
								<h2>Propose!</h2>
								<p>프로포즈! @서울 성북구</p>
								<img src="images/resources/propose.jpg" alt="couple pic">
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details  wow slideInRight">
							<div class="details_content">
								<h2>We Are Getting Married!</h2>
								<p>마침내 결혼! @서울 용산구</p>
								<img src="images/resources/wedding.jpeg" alt="couple pic">
								<!-- <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							2016.07.02
						</div>
					</li>
				</ul>
				<!-- <button class="load_more wow slideInLeft">Load More</button> -->
			</div>

		</div>
	</section> <!-- /#love_story -->


	<!-- #qoute -->
	<!-- <section id="qoute">
		<div class="overlay">
			<div class="container">
				<div class="row wow slideInLeft">
					<h2>“명언쓰는 곳입니다. <br> 사랑은 언제나 오래참고 사랑은 언제나 온유하며”</h2>
					<button>Love</button>
				</div>
			</div>
		</div>
	</section> <!-- /#qoute -->

	<!-- .curv-white -->
	<section class="curv-white">
		<h2>This is only for validation</h2>
	</section> <!-- /.curv-white -->

	<!-- #rsvp -->
	<section id="rsvp">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<h1>축하해 주세요!</h1>
					<div class="rsvp_wrap">
						<h2>Letters to lovely couple</h2>
						<form class="contact-form" method="post" action="/writeMessage">
							<p><input type="text" name="name" class="name" placeholder="이름*"></p>
							<p><input type="text" name="password" class="password" placeholder="비밀번호*"></p>
							<textarea id="message" name="message" placeholder="축하 메시지* (최대 300글자)" rows="3"></textarea>
							<button type="submit">보내기</button>
						</form>
						<!--여기에 최근 3개 축하메시지 보여주기 get요청 include-->
					</div>
				</div>
			</div>
			<div class="rsvp_wrap">
				<h2>최근 메시지</h2>
				<div id="posts">
					<% posts.forEach(function(post){ %>
						<li>이름 <%=post.name%><br><%=post.letter%></li>
						<% }); %>
				</div>
			</div>
		</div>
	</section> <!-- /#rsvp -->

	<!-- .curv -->
	<section class="curv-gray">
		<h2>This is only for validation</h2>
	</section> <!-- /.curv -->
	<!-- #gallery -->
	<section id="gallery">
			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>Lovely <b>Moment</b></span>
				</h1>
			</div> <!-- /.section_title_wrap -->
	</section>
	<ul class="rslides">
		<li><img src="/pics/IMG_001.jpg" alt=""></li>
		<li><img src="/pics/IMG_002.jpg" alt=""></li>
		<li><img src="/pics/IMG_003.jpg" alt=""></li>
		<li><img src="/pics/IMG_004.jpg" alt></li>
		<li><img src="/pics/IMG_005.jpg" alt></li>
		<li><img src="/pics/IMG_006.jpg" alt></li>
		<li><img src="/pics/IMG_007.jpg" alt></li>
	</ul>
	<!-- /#gallery -->

	<!-- #our_location -->
	<section id="our_location">
		<div class="container">

			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>찾아 오시는 길</span>
				</h1>
			</div> <!-- /.section_title_wrap -->

			<div class="row"style="width: 350px; margin: auto;   /* margin-right: -15px; *//* margin-left: -15px; */">
				<div class="single_location col-lg-3 col-sm-3" style="font-size: 17px">
					<img src="images/our-location/image-1.png" alt="">
					<h2>Location</h2>
					<p> 서울시 용산구 이태원로 22 국방컨벤션<br>
					<span class="highlight">국방컨벤션 1층 에메랄드홀</span> <br> <span class="highlight">2016.07.02</span>
					<span class="highlight">오후 2시 </span> <br>[예식장 내 무료주차 가능]</p>
				</div>
			</div>
		</div>
	</section> <!-- /#our_location -->

	<!-- #gmap -->
	<div id="gmap"></div>
	<script src="//apis.daum.net/maps/maps3.js?apikey=9ef39584acdf0161eca463907d08187b"></script>
	<script>
		var mapContainer = document.getElementById('gmap'), // 지도를 표시할 div
		    mapOption = {
		        center: new daum.maps.LatLng(37.53359, 126.97689), // 지도의 중심좌표
		        level: 3, // 지도의 확대 레벨
		        mapTypeId : daum.maps.MapTypeId.ROADMAP // 지도종류
		    };

		// 지도를 생성한다
		var map = new daum.maps.Map(mapContainer, mapOption);

		// 지도에 마커를 생성하고 표시한다
		var marker = new daum.maps.Marker({
		    position: new daum.maps.LatLng(37.53359, 126.97689), // 마커의 좌표
		    map: map // 마커를 표시할 지도 객체
		});

		// 마커 위에 표시할 인포윈도우를 생성한다
		var infowindow = new daum.maps.InfoWindow({
		    content : '<div style="padding:5px;">국방컨벤션 <br>1층 에메랄드홀</div>' // 인포윈도우에 표시할 내용
		});
		// 마우스 휠과 모바일 터치를 이용한 지도 확대, 축소를 막는다
		map.setZoomable(false);

		// 인포윈도우를 지도에 표시한다
		infowindow.open(map, marker);
	</script>
	<!-- /#gmap -->

	<!-- footer -->
	<footer>
		<!-- .footer_top -->
		<div class="footer_top">
			<img src="images/logo/newfoot.png" alt="footer logo">
		</div> <!-- /.footer_top -->

		<!-- .footer_bottom -->
		<div class="footer_bottom">
			<p> Supported by <a href="http://github.com/outofmap">Songhee Park</a></p>
		</div> <!-- /.footer_bottom -->
	</footer> <!-- /footer -->

	<script src="js/jquery-2.1.3.min.js"></script> <!-- jquery -->
	<script src="js/bootstrap.min.js"></script> <!-- bootstrap -->
	<script src="js/jquery.prettyPhoto.js"></script> <!-- Pretty Photo js -->
	<script src="js/wow.min.js"></script> <!-- WOW js -->
	<script src="js/custom.js"></script> <!-- custom -->
	<script src="js/custom-home.js"></script> <!-- custom home js -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
	  $(function() {
	    $(".rslides").responsiveSlides({
			auto: true,
			speed: 500,
			pause: true
		});
	  });
	</script>


</body>
</html>
