<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>선우와 수지가 결혼해요</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="shortcut icon" href="favicon.ico">
		<!-- Bootstrap -->
		<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<!-- Main CSS -->
		<link href="/css/style.css" rel="stylesheet" media="screen">
		<!-- theme color css
		<link href="css/colorname.css" rel="stylesheet" media="screen"> -->

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			  <script src="js/respond.js"></script>
		<![endif]-->
	</head>
<body>

	<!-- .preloader -->
    <div class="preloader"></div>
    <!-- /.preloader -->

	<!-- header -->
	<header id="header">
		<div class="container">
			<div class="row">
				<!-- #logo -->
				<!-- <div id="logo" class="col-lg-12 animated fadeInUp"> -->
				<div id="logo" class="col-lg-12">
					<a href="#">
						<!-- <img src="images/logo/logo.png" alt="Logo Image"> -->
						<!-- <img src="images/logo/lovelogo.png" alt="Logo Image"> -->
						<img src="images/logo/logo간격.png" alt="Logo Image">
					</a>
				</div> <!-- /#logo -->

				<button class="nav-collapser">
					<i class="fa fa-bars"></i>
				</button>

				<!-- #main_navigation -->
				<nav id="main_navigation" class="col-lg-12 main_navigation">
					<ul>
						<li class="scroll active"><a href="#slider">HOME</a></li>
						<li class="scroll"><a href="#love_story">Our story</a></li>
						<!-- <li class="scroll"><a href="#important_people">important people</a></li>
						<li class="scroll"><a href="#event_parties">event & parties</a></li> -->
						<li class="scroll"><a href="#rsvp">축하메시지</a></li>
						<!-- <li class="scroll"><a href="#blog">blog <b class="caret"></b></a>
							<ul class="dropdown">
								<li><a href="blog.html">Blog Page</a></li>
								<li><a href="single-post.html">Single Post</a></li>
							</ul>
						</li> -->
						<li class="scroll"><a href="#gallery">Gallery</a></li>
						<li class="scroll"><a href="#our_location">our location</a></li>
					</ul>
				</nav> <!-- /#main_navigation -->
			</div>
		</div>
	</header> <!-- /header -->

	<!-- #slider -->
	<section id="slider">
		<div class="overlay">

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h1 class="wow fadeIn"  data-wow-duration="2000">We are Invite all <br> to Celebrate Our Wedding</h1>
						<ul class="time_counter clearfix" id="countdowncontainer">
							<!-- dynamically count down wil added by js -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section> <!-- /#slider -->



	<!-- #groom_bride -->
	<section id="groom_bride">

		<!-- .curv -->
		<div class="curv-gray">

		</div> <!-- /.curv -->


		<div class="container">

			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>Groom <b>&</b> Bride</span>
				</h1>
			</div> <!-- /.section_title_wrap -->

			<div class="row">

				<!-- .single_groom -->
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_groom col-lg-push-1 col-md-push-1 wow slideInLeft" data-animation-duration="3s" data-animation-delay="1s">
					<!-- 신랑사진 -->
					<img src="images/resources/groom.jpg" alt="Groom image">
					<div class="info-box">
						<h2>Seonwoo Park</h2>
						<span>신랑</span>
						<p>박선우입니다. 결혼합니다. 축하해주세요.</p>
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							<li><a href=""><i class="fa fa-skype"></i></a></li>
						</ul>
						<!-- <button>Read More</button> -->
					</div>
				</div> <!-- /.single_groom -->

				<!-- .single_bride -->
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 single_bride col-lg-offset-1 col-md-offset-1 wow slideInRight"  data-animation-duration="3s" data-animation-delay="2s">
					<img src="images/resources/bride.jpg" alt="Bride image">
					<div class="info-box">
						<h2>Suji Lee</h2>
						<span>신부</span>
						<p>이수지입니다.결혼합니다.축하해주세요.</p>
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin"></i></a></li>
							<li><a href=""><i class="fa fa-skype"></i></a></li>
						</ul>
						<!-- <button>Read More</button> -->
					</div>
				</div> <!-- /.single_bride -->

			</div>
		</div>
	</section> <!-- /#groom_bride -->

	<!-- #love_story -->
	<section id="love_story">
		<div class="container">

			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>Our <b>Love</b> Story</span>
				</h1>
				<p class="section-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever since the 1500s</p>
			</div> <!-- /.section_title_wrap -->

			<div class="row">
				<ul>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInRight">
							<div class="details_content">
								<h2>The First Day we Met</h2>
								<p>처음만남!!사진을넣을까요?</p>
								<!-- <a href="#" class="read_more">READ MORE</a> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							27 jan, 2015
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInRight">
							28 jan, 2015
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInLeft">
							<div class="details_content">
								<h2>The First Day we Met</h2>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>

								<p>suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
								<!-- <a href="#" class="read_more">READ MORE</a> -->
							</div>
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details  wow slideInRight">
							<div class="details_content">
								<h2>The First Day we Met</h2>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
								<!-- <a href="#" class="read_more">READ MORE</a> -->
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInLeft">
							29 jan, 2015
						</div>
					</li>
					<li class="clearfix">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 date wow slideInRight">
							30 jan, 2015
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 details wow slideInLeft">
							<div class="details_content">
								<h2>The First Day we Met</h2>
								<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
								<!-- <a href="#" class="read_more">READ MORE</a> -->
							</div>
						</div>
					</li>
				</ul>
				<!-- <button class="load_more wow slideInLeft">Load More</button> -->
			</div>

		</div>
	</section> <!-- /#love_story -->

	<!-- #important_people -->
	<!-- <section id="important_people">
		<div class="container"> -->

			<!-- .section_title_wrap -->
			<!-- <div class="section_title_wrap">
				<h1 class="section_title">
					<span>Important <b>People</b></span>
				</h1>
				<p class="section-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the <br> industry's standard dummy text ever since the 1500s</p>
			</div> <! /.section_title_wrap -->

			<!-- <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<ul>
						<li class="clearfix">
							<img src="images/important-people/image-1.jpg" alt="">
							<div class="info-box">
								<h2>Dami Cutter</h2>
								<span>Groom Father</span>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those </p>
							</div>
						</li>
						<li class="clearfix">
							<img src="images/important-people/image-3.jpg" alt="">
							<div class="info-box">
								<h2>Rina Akter</h2>
								<span>GROOM MOTHER</span>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those </p>
							</div>
						</li>
						<li class="clearfix">
							<img src="images/important-people/image-5.jpg" alt="">
							<div class="info-box">
								<h2>Mithila Ahmed</h2>
								<span>GROOM SISTER</span>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those </p>
							</div>
						</li>
					</ul>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<ul>
						<li class="clearfix">
							<img src="images/important-people/image-2.jpg" alt="">
							<div class="info-box">
								<h2>Jim Burner</h2>
								<span>BRIDE FATHER</span>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those </p>
							</div>
						</li>
						<li class="clearfix">
							<img src="images/important-people/image-4.jpg" alt="">
							<div class="info-box">
								<h2>Dami Cutter</h2>
								<span>BRIDE MOTHER</span>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those </p>
							</div>
						</li>
						<li class="clearfix">
							<img src="images/important-people/image-6.jpg" alt="">
							<div class="info-box">
								<h2>Shila Akter</h2>
								<span>BRIDE SISTER</span>
								<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those </p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section> <! /#important_people -->

	<!-- #qoute -->
	<section id="qoute">
		<div class="overlay">
			<div class="container">
				<div class="row wow slideInLeft">
					<h2>“명언쓰는 곳입니다. <br> 사랑은 언제나 오래참고 사랑은 언제나 온유하며”</h2>
					<button>Love</button>
				</div>
			</div>
		</div>
	</section> <!-- /#qoute -->

	<!-- .curv-white -->
	<section class="curv-white">
		<h2>This is only for validation</h2>
	</section> <!-- /.curv-white -->


	<!-- #event_parties  -->
	<!-- <section id="event_parties">
		<div class="container"> -->

			<!-- .section_title_wrap -->
			<!-- <div class="section_title_wrap">
				<h1 class="section_title">
					<span>Event <b>&</b> Parties</span>
				</h1>
			</div> <!/.section_title_wrap -->

			<!-- <div class="row"> -->
				<!-- 아래 div는 사진과 글을 넣는 카드로 쓰기좋음.-->
				<!-- <div class="single_event col-lg-3 col-md-3 col-sm-4 col-xs-12 wow slideInLeft">
					<div class="image-wrap">
						<img src="images/event/image-1.jpg" alt="event image">
						<div class="overlay"></div>
					</div>
					<h2>Event One</h2>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour</p>
					<a href="#" class="read_more">Read More</a>
				</div>
				<div class="single_event col-lg-3 col-md-3 col-sm-4 col-xs-12 wow slideInTop">
					<div class="image-wrap">
						<img src="images/event/image-2.jpg" alt="event image">
						<div class="overlay"></div>
					</div>
					<h2>Event Two</h2>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour</p>
					<a href="#" class="read_more">Read More</a>
				</div>
				<div class="single_event col-lg-3 col-md-3 col-sm-4 col-xs-12 wow slideInRight">
					<div class="image-wrap">
						<img src="images/event/image-3.jpg" alt="event image">
						<div class="overlay"></div>
					</div>
					<h2>Event Three</h2>
					<p>There are many variations of passages of Lorem Ipsum available, but the majority havesuffered alteration in some form, by injected humour</p>
					<a href="#" class="read_more">Read More</a>
				</div>

			</div>
		</div>
	</section> <! /#event_parties -->

	<!-- #rsvp -->
	<section id="rsvp">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<h1>축하해 주세요!</h1>
					<div class="rsvp_wrap">
						<h2>Letters to lovely couple</h2>
						<form class="contact-form" method="post" action="/writeMessage">
							<p><input type="text" name="name" class="name" placeholder="이름*"></p>
							<p><input type="text" name="password" class="password" placeholder="비밀번호*"></p>
							<!-- <select class="guest" name="guest">
								<option selected="selected" value="Guest">Guest*</option>
								<option value="Relatives">Relatives*</option>
								<option value="Others">Others*</option>
							</select> -->
							<textarea id="message" name="message" placeholder="축하 메시지* (최대 300글자)" rows="3"></textarea>
							<button type="submit">보내기</button>
						</form>
						<!--여기에 최근 3개 축하메시지 보여주기 get요청 include-->
					</div>
				</div>
			</div>
			<div id="posts">
				<% posts.forEach(function(post){ %>
					<li>이름 <%=post.name%><br><%=post.letter%></li>
					<% }); %>
			</div>
		</div>
	</section> <!-- /#rsvp -->

	<!-- .curv -->
	<section class="curv-gray">
		<h2>This is only for validation</h2>
	</section> <!-- /.curv -->

	<!-- #blog -->
	<!-- <section id="blog">
		<div class="container"> -->

			<!-- .section_title_wrap -->
			<!-- <div class="section_title_wrap">
				<h1 class="section_title">
					<span>Our <b>Blog</b></span>
				</h1>
			</div> <!.section_title_wrap -->

			<!-- <div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-duration="500">
					<div class="row">
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<img src="images/blog/image-1.jpg" alt="">
								<div class="overlay"></div>
							</div>
							<h2>Blog Heading</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
							<label>Posted by <a href="#">Jhone</a> on <a href="#">dec 24,2014</a></label>
							<a href="#" class="readmore">read more</a>
						</div>
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<img src="images/blog/image-1.jpg" alt="">
								<div class="overlay"></div>
							</div>
							<h2>Blog Heading</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
							<label>Posted by <a href="#">Jhone</a> on <a href="#">dec 24,2014</a></label>
							<a href="#" class="readmore">read more</a>
						</div>
					</div>
				</div>
				<div class=" col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-delay="500" data-wow-duration="500">
					<div class="row">
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<img src="images/blog/image-3.jpg" alt="">
								<div class="overlay"></div>
							</div>
							<h2>Blog Heading</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
							<p>suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							<label>Posted by <a href="#">Jhone</a> on <a href="#">dec 24,2014</a></label>
							<a href="#" class="readmore">read more</a>
						</div>
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<img src="images/blog/image-3.jpg" alt="">
								<div class="overlay"></div>
							</div>
							<h2>Blog Heading</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have</p>
							<p>suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							<label>Posted by <a href="#">Jhone</a> on <a href="#">dec 24,2014</a></label>
							<a href="#" class="readmore">read more</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow slideInLeft" data-wow-delay="1000" data-wow-duration="500">
					<div class="row">
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<img src="images/blog/image-2.jpg" alt="">
								<div class="overlay"></div>
							</div>
							<h2>Blog Heading</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
							<label>Posted by <a href="#">Jhone</a> on <a href="#">dec 24,2014</a></label>
							<a href="#" class="readmore">read more</a>
						</div>
						<div class="single_blog_post col-lg-12 col-md-12 col-sm-12">
							<div class="image-wrap">
								<img src="images/blog/image-2.jpg" alt="">
								<div class="overlay"></div>
							</div>
							<h2>Blog Heading</h2>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
							<label>Posted by <a href="#">Jhone</a> on <a href="#">dec 24,2014</a></label>
							<a href="#" class="readmore">read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> <!-/#blog -->

	<!-- #gallery -->
	<section id="gallery">
		<div class="container-fluid">

			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>Lovely <b>Moment</b></span>
				</h1>
			</div> <!-- /.section_title_wrap -->

			<div class="row-fluid">
				<ul class="clearfix">
					<li><a data-gal="prettyPhoto" href="images/gallery/image-1.jpg">
						<img src="images/gallery/thumbnails/image-1.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
					<li><a data-gal="prettyPhoto" href="images/gallery/image-2.jpg">
						<img src="images/gallery/thumbnails/image-2.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
					<li><a data-gal="prettyPhoto" href="images/gallery/image-3.jpg">
						<img src="images/gallery/thumbnails/image-3.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
					<li><a data-gal="prettyPhoto" href="images/gallery/image-4.jpg">
						<img src="images/gallery/thumbnails/image-4.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
					<li><a data-gal="prettyPhoto" href="images/gallery/image-5.jpg">
						<img src="images/gallery/thumbnails/image-5.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
					<li><a data-gal="prettyPhoto" href="images/gallery/image-6.jpg">
						<img src="images/gallery/thumbnails/image-6.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
					<li><a data-gal="prettyPhoto" href="images/gallery/image-7.jpg">
						<img src="images/gallery/thumbnails/image-7.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
					<li><a data-gal="prettyPhoto" href="images/gallery/image-8.jpg">
						<img src="images/gallery/thumbnails/image-8.jpg" alt="single image">
						<span class="overlay"></span>
					</a></li>
				</ul>
			</div>
		</div>
	</section> <!-- /#gallery -->

	<!-- #our_location -->
	<section id="our_location">
		<div class="container">

			<!-- .section_title_wrap -->
			<div class="section_title_wrap">
				<h1 class="section_title">
					<span>찾아 오시는 길</span>
				</h1>
			</div> <!-- /.section_title_wrap -->

			<div class="row">

				<div class="single_location col-lg-3 col-sm-3">
					<img src="images/our-location/image-1.png" alt="">
					<h2>Location</h2>
					<p>The wedding party will begin @ <span class="highlight">14:00 P.M</span> on <span class="highlight">2016.07.02</span> . Free drinks and music is on the way, no costume is needed.</p>
				</div>
				<!-- <div class="single_location col-lg-3 col-sm-3">
					<img src="images/our-location/image-2.png" alt="">
					<h2>Location</h2>
					<p>Gulshan Hall, 60 Grant Ave. Carteret NJ 0708 (732) 803-01 03, (732) 806-01 04 info@emailname.com</p>
				</div> -->
				<!-- <div class="single_location col-lg-3 col-sm-3">
					<img src="images/our-location/image-3.png" alt="">
					<h2>Location</h2>
					<p><span class="highlight">Eevent One :</span> Event Name and Time <br>
					<span class="highlight">Eevent Two :</span> Event Name and Time <br>
					<span class="highlight">Eevent Three :</span> Event Name and Time</p>
				</div> -->

			</div>
		</div>
	</section> <!-- /#our_location -->

	<!-- #gmap -->
	<div id="gmap">

	</div> <!-- /#gmap -->

	<!-- footer -->
	<footer>

		<!-- .footer_top -->
		<div class="footer_top">
			<img src="images/logo/footer-logo.png" alt="footer logo">
		</div> <!-- /.footer_top -->

		<!-- .footer_bottom -->
		<div class="footer_bottom">
			<p> Supported by <a href="#">outofmap</a></p>
		</div> <!-- /.footer_bottom -->
	</footer> <!-- /footer -->






	<script src="js/jquery-2.1.3.min.js"></script> <!-- jquery -->
	<script src="js/bootstrap.min.js"></script> <!-- bootstrap -->
	<script src="http://maps.google.com/maps/api/js?sensor=true"></script><!-- Map Api -->
	<script src="js/gmaps.js"></script>  <!-- Gmap JS -->
	<script src="js/countdown.js"></script>  <!-- Countdown JS -->
	<script src="js/jquery.prettyPhoto.js"></script> <!-- Pretty Photo js -->
	<script src="js/wow.min.js"></script> <!-- WOW js -->
	<script src="js/custom.js"></script> <!-- custom -->
	<script src="js/custom-home.js"></script> <!-- custom home js -->



</body>
</html>
