<!doctype html>
<form action="/uploadIMG" enctype="multipart/form-data" method="post">
    <div class="file-field input-field">
        <div class="btn">
            <span>File찾기</span>
            <input type="file" name="image" accept="image/*">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
        <!-- <input type="file" name="image1" size="40" accept="image/*"><br><br>
        <input type="file" name="image2" size="40" accept="image/*"><br><br> -->
    </div>
    <input type="submit" value="파일 업로드">
</form>
